<!DOCTYPE html>
<html>
<head>
  <title>New Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
  <div class="container6">
    <h1>Proba</h1>
    <p>Zgleda mi je celo uspelo</p>
    <p>Vav, nebi si mislil.</p>
    <span class="material-symbols-outlined">
      sentiment_very_satisfied
    </span>
    <p>Je lep občutek, da se mi je nekaj poklopilo.</p>
    <span class="material-symbols-outlined">
      emoticon
    </span>
    <p>Edinole škoda, da mi takole malo glava boli. Ne vem ali pretiravam z branje.</p>
    <p>Ponavadi me takole proti koncu branju malo podre.</p>
    <p>Včeraj je bilo potem bolje, ko sem počasi bral <span class="stop">A place of greater safety.</span></p>
  </div>
  <div class="container5">
    <%= image_tag "place.jpg", alt: "Place" %>
  </div>
  <div class="container6">
    <p>Bom pa zdajle rajše kar zaključil. Saj mi je uspel velik preboj naprej.</p>
    <p>Nekaj kar me je skrbelo, in bi rajše šel po malih korakih naprej, da me ne bo odneslo.</p>
  </div>
      <div class="container5">
         <p id="sredina">
            <a href="./">
                <button class="button">
                    <i class="bi bi-house-fill" style="font-size: 1.5rem;"></i>
                </button>
            </a>
        </p>
    </div>
</body>
</html>